
# Node modules (if you ever use them)
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
## 📸 Screenshots

### 🏠 Home Page
![Home](screenshots/home.png)

### 📅 Forecast
![Forecast](screenshots/forecast.png)

### 🔍 Saved Cities
![Search](screenshots/search.png)
